<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>player-rx : ui</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/4.4.1/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap-vue/2.9.0/dist/bootstrap-vue.min.css"/>

    <!-- Required scripts -->
    <script src="/webjars/vue/2.6.11/dist/vue.min.js"></script>
    <script src="/webjars/babel__polyfill/7.8.7/dist//polyfill.min.js"></script>
    <script src="/webjars/bootstrap-vue/2.9.0/dist/bootstrap-vue.min.js"></script>

    <!-- leaflet -->
    <link rel="stylesheet" href="/webjars/leaflet/1.6.0/dist/leaflet.css" />
    <script src="/webjars/leaflet/1.6.0/dist/leaflet.js"></script>
    <script src="/webjars/vue2-leaflet/2.5.2/dist/vue2-leaflet.min.js"></script>

    <!-- axios -->
    <script src="/webjars/axios/0.19.2/dist/axios.min.js"></script>


    <style>
       html, body, #app, .container-fluid, .row, .col {
        height: 100%;
        width: : 100%;
        overflow: hidden;
        background-color: black;
        font-family: Tahoma;
        color: white;
        /*
            background: #1E1E1E;
            color: #f9f9f9;
        */
        }

    .vue2leaflet-map {
        height: 100% !important;
        width: : 100%;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .25s ease-in-out;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    </style>
</head>

<body>
<!-- Our application root element -->
<div id="app">
    <b-container fluid style="margin:0px; padding:0px">
        <!-- browser -->
        <transition name="fade">
        <b-row no-gutters v-show="ui == 'browser'">
            <b-col>
                <b-alert variant="success" show>browser</b-alert>
                <b-img :src="show.browser" style="width:100%; height:100%"></b-img>
            </b-col>
        </b-row>
        </transition>

        <!-- photo -->
        <transition name="fade">
        <b-row no-gutters v-show="ui == 'photo'">
            <b-col>
                <b-alert variant="success" show>photo</b-alert>
                <b-img :src="show.photo" style="width:100%; height:100%"></b-img>
            </b-col>
        </b-row>
        </transition>

        <!-- video -->
        <transition name="fade">
        <b-row no-gutters v-show="ui == 'video'">
            <b-col>
                <b-alert variant="success" show>video</b-alert>
                <b-img :src="show.video" style="width:100%; height:100%"></b-img>
            </b-col>
        </b-row>
        </transition>

        <!-- weather -->
        <transition name="fade">
        <b-row no-gutters v-show="ui == 'weather'">
            <b-col>
                <b-row no-gutters v-if="data.weather.conditions">

                    <b-col>
                        <b-img :src="show.browser" style="width:100%; height:100%"></b-img>
                    </b-col>

                </b-row>

                <b-row no-gutters style="height: 100%;">

                    <b-col>

                        <b-row no-gutters style="height: 100%;">

                            <b-col v-for="w in data.weather.conditions.weather" v-bind:key="w.date">
                                <b-img :src=weatherImage(w.hourly[0].weatherIconUrl[0].value.split('/').pop()) fluid-grow ></b-img>
                            </b-col>
                        </b-row>

                    </b-col>

                </b-row>

            </b-col>
        </b-row>
        </transition>

        <!-- geo -->
        <transition name="fade">
        <b-row no-gutters v-show="ui == 'geo'">
            <b-col>
                <b-alert variant="success" show >geo</b-alert>

                <l-map  ref="lmap"
                        v-if="show.geo"
                        :zoom="leaftObject.zoom"
                        :center="leaftObject.center"
                        :options="leaftObject.mapOptions"
                        @update:center="centerUpdate"
                        @update:zoom="zoomUpdate"
                >
                    <l-tile-layer
                            :url="leaftObject.url"
                            :attribution="leaftObject.attribution"
                    ></l-tile-layer>
                </l-map>

            </b-col>
        </b-row>
        </transition>

    </b-container>
</div>

<!-- Start running your app -->
<script>


const data = {

    'name' : '',

    'ui' : '',

    'show' : {
        'browser': 'https://picsum.photos/900/250/?image=1',
        'photo'  : 'https://picsum.photos/900/250/?image=2',
        'video'  : 'https://picsum.photos/900/250/?image=3',
        'weather': 'https://picsum.photos/900/250/?image=4',
        'geo'    : 'https://picsum.photos/900/250/?image=5'
    },

    'resource' : {
        'browser': {},
        'photo'  : 'https://picsum.photos/900/250/?image=2',
        'video'  : {},
        'weather': {}
    },

    'weather' : {
        'lat' : 45.07,
        'lng': 7.47,
        'zoom': 13,
        'conditions' : {}
    },

    'items' : [
        {
          'text': 'Dashboard',
          'disabled': false,
          'href': 'breadcrumbs_dashboard',
        },
        {
           'text': 'Link 1',
          'disabled': false,
          'href': 'breadcrumbs_link_1',
        },
        {
           'text': 'Link 2',
          'disabled': true,
          'href': 'breadcrumbs_link_2',
        },
    ]
};

Vue.component('l-map'       , window.Vue2Leaflet.LMap);
Vue.component('l-tile-layer', window.Vue2Leaflet.LTileLayer);
Vue.component('l-marker'    , window.Vue2Leaflet.LMarker);

window.app = new Vue({
        el: "#app",
        data: data,
        /* components: {
            LMap,
            LTileLayer,
            LMarker,
            LPopup,
            LTooltip
        },*/
        computed: {
          showAlert : function() {
            if (this.name.length > 4)
                return true;
            return false;
          },
          leaftObject : function() {
            var lft = {
                  'center'     : L.latLng(data.weather.lat, data.weather.lng),
                  'zoom'       : data.weather.zoom,
                  'url'        : 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                  'attribution': '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                   'mapOptions': { 'zoomSnap': 0.5}
            };
            return lft
          }
        },
        mounted : function() {
          console.log("....");
          axios.get("weather.json")
            .then( function(resp) {
                    data.weather.conditions = resp.data.data;
                 });
        },
        methods : {
            weatherImage :  function(img) {
                return '../weather/images/' + img;
            },

            centerUpdate : function() {
                console.log( 'center @ : ' + this.$refs.lmap.mapObject.getCenter());
            },

            zoomUpdate : function() {}
        }
      })
    </script>

</body>
</html>
No newline at end of file
